:root {
	--blue: #075fa8;
	--white: #ffffff;
	--black: #000000;
	--red: #ec3626;
	--grey: #919191;
	
	--spacing-small: 16px;
	--spacing-medium: 32px;
	--spacing-large: 64px;
}

html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding-left: var(--spacing-medium);
	padding-right: var(--spacing-medium);
}