:root {
	--blue: #075fa8;
	--white: #ffffff;
	--black: #000000;
	--red: #ec3626;
	--grey: #919191;
	
	--spacing-xxsmal: 4px;
	--spacing-xsmall: 8px;
	--spacing-small: 16px;
	--spacing-medium: 32px;
	--spacing-large: 64px;
	--spacing-xlarge: 128px;
	--spacing-xxlarge: 256px;

	--inner-max-width: 1200px;

	--global-font: 'Helvetica', 'Arial';

	--font-size-list: 20px;
}

html, body {
	margin: 0px;
	padding: 0px;

	font-family: var(--global-font);
}