.footer-container {
	background-color: var(--black);
	color: var(--white);
	padding: var(--spacing-medium);
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-medium);
}

.footer-info {
	flex-basis: 0px;
	flex-grow: 1;
}

.footer-map {
	flex-basis: 0px;
	flex-grow: 0;
}

.footer-info-pair {
	display: flex;
}
.footer-info-pair-label {
	color: var(--grey);
}